.listWrapper{
    width:100%;

}

.MovieDetails{
    height: 100%;
    margin-left: 30px;
}
.movimage{
    margin-top: 50px;
    height: 450px;
    width: 350px;
    border-radius: 5%;
}
.movieDetails{
    width: 70%;
    margin-left: 400px;
    margin-top: -450px; 
}
.movReleaseDate{

    float:right;
    float: left;
    margin-top: -30px;
}