.Navbar{
    background-color: yellow;
    width:100%;
    padding: 10px;
    height: 50px; 
    position: relative;
}

/* .watchlist{
    float: right;
    text-decoration: none;
    color:black;
    position: absolute;
    right: 3%;
    margin-top: 15px;
}
.logo{
    position: absolute;
    margin-top: 7px;
    text-decoration: none;
    color:black;
    margin-left: 15px;
} */
/* #lang{
    position: absolute;
    right: 10%; 
    margin-top: 16px;
} */
.movieCard{
    width: 180px;
    height: 340px; 
    margin-top: 50px;  
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
}
.counterNav{
    border-radius: 5px;
    background-color: white;
}
.addToFav{
    margin-left: 10px;
}
.movieImage{
    width: 150px;
    height: 250px; 
    position: absolute;
    cursor:pointer;
}
.cardContent{
    position: absolute;
    margin-top: 250px;

}
.movieTitle{
    font-weight: bold;
}
